* {
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
    background-image: url(../assets/background.jpg);
    line-height: 1.5;
    margin: auto;
    max-width: 1000px;
    font-size: 1.1em;

} 

ul {
    list-style-position: inside;
}

a:hover {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
}


/* MAIN */

.content {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    overflow: auto;
    border-radius: 20px;
    margin: 1%;
}

main {
    overflow: auto;
}

main h3 {
    padding-left: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
}

/* HEADER */
/* header {
    background-color: #e6f5f5;
    border-radius: 20px;
    margin: 4px;
} */

header, footer {
    overflow: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 4px;

}
/* NAVIGATION */
#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    margin: 5% 5% 3%;
    padding: 1.7rem;
   
}

#top img {
    border-radius: 20px;
    height: 113px;
    
}
.mainNav{
    margin: 0 5% 3%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.mainNav a {
    width: 8rem;
    height: max-content;
    background-color:#4CAF50;
    color: white;
    border-radius: 5px;
    padding: .5rem 0;
    margin: 2% 0;
    text-align: center;
}

#home {
    margin-left: 0;
}

#resources {
    margin-right: 0;
}

/* LANDING PAGE CONTENT */

section, fieldset {
    background-color: #f2f2f2;
    border-radius: 20px;
    border: none;
    margin: 5%;
    padding: 5%;
}

section h2 {
   margin: 0 0 5% 0;
   color: #4CAF50;
   font-weight: bold;
}

details summary::-webkit-details-marker {
    color:  #4CAF50;
  }

summary {
    padding-bottom: .5rem;
}


iframe {
    max-width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    padding: 10px;
    border-radius: 0%;
    text-align: left;
    margin: 0;

}

#namediv, #emaildiv, button {
    padding-bottom: 10px;
}

#namediv, #emaildiv {
    height: 3rem;
    font-size: 1.1em;
}

.inputField input {
    border-radius: 20px;
    line-height: 1.7rem;
    width: 40%;
    font-size: 0.9em;
    outline: none;
    border: none;
}

.inputField input[type=text] {
    
    padding: 0 20px;
   
}
.inputField input[type=email] {
    
    padding: 0 20px;
   
}
#messagediv {
    display: flex;
   
}

#message {
    border-radius: 20px;
    line-height: 1.7rem;
    width: 40%;
    font-size: 1em;
    color: gray;
    outline: none;
    padding: 0 20px;
    border: none;
    resize: none;
    margin-left: 0.5em;
}



/* #messagediv {
    padding-bottom: 0%;
}

#messagediv input[type=text] {
    -transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#messagediv input[type=text]:focus {
    width: 80%;
} */

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 4%;
}


/* FOOTER */
footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 1rem;
}


#footName {
    margin: 0;
    padding-bottom: 1%;
    font-size: 1.5rem;
}

#footNav a {
    margin-right: .5rem;
}




















